absl-py==2.0.0
aiobotocore
aiofiles
aiohttp
aioitertools
aiosignal
aiosqlite
alabaster
altair==5.1.2
anaconda-catalogs
anaconda-client==1.12.0
anaconda-navigator==2.4.2
anaconda-project
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
astunparse==1.6.3
async-timeout
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker==1.7.0
bokeh
boltons
boto3
botocore
Bottleneck
brotlipy==0.7.0
cachetools==5.3.1
certifi
cffi
chardet
charset-normalizer
click==8.1.7
cloudpickle
clyent==1.2.2
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli==1.0.41
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
constantly==15.1.0
contourpy
cookiecutter
cryptography
cssselect==1.1.0
cycler
cytoolz
daal4py==2023.1.1
dask
datashader
datashape==0.5.4
debugpy
decorator
defusedxml
diff-match-patch
dill
distlib==0.3.7
distributed
docopt==0.6.2
docstring-to-markdown
docutils
dominate==2.8.0
entrypoints
et-xmlfile==1.1.0
executing
fastjsonschema
filelock==3.13.1
flake8
Flask==3.0.0
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flatbuffers==23.5.26
fonttools==4.25.0
frozenlist
fsspec
future
gast==0.4.0
gensim
gitdb==4.0.11
GitPython==3.1.40
glob2
google-auth==2.23.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googledrivedownloader==0.4
greenlet
grpcio==1.59.0
h5py
HeapDict
holoviews
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous==2.1.2
jaraco.classes
jedi
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter-server
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server_fileid
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras==2.13.1
keyring
kiwisolver
lazy-object-proxy
lazy_loader
libarchive-c
libclang==16.0.6
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
mkl-fft==1.3.6
mkl-random
mkl-service==2.4.0
ml-dtypes==0.2.0
more-itertools
mpmath
msgpack
multidict
murmurhash
mypy
mypy-extensions
natsort
nb-black
nb-conda
nb-conda-kernels
nbconvert
nbformat
nest-asyncio
networkx
nltk
nltk-corpus
nodejs
nose
nose2
notebook
numba
numexpr
numpy
numpy-base
numpydoc
odo
olefile
openpyxl
packaging
pandas
pandas-profiling
pandoc
pandocfilters
parso==0.9.3
path
pathspec
pathtools
patsy
pbr==5.8.1
pep517
pexpect
pickleshare
Pillow
pip
pkginfo
pluggy
ply==3.11
poetry
poetry-core
portpicker
prefetch-generator
prettytable
progressbar2==3.38.0
prometheus_client
prompt-toolkit
protobuf==3.23.3
psutil
ptyprocess
py
pybind11==2.10.0
pycodestyle
pycosat
pycparser
pyct
pydantic
pyflakes
Pygments
pylint
PyNaCl==1.4.0
pyodbc
pyOpenSSL
pyparsing
pyreadline
pyrsistent
PySocks
pytest
pytest-arraydiff
pytest-astropy
pytest-astropy-header
pytest-asyncio
pytest-benchmark
pytest-cov
pytest-doctestplus
pytest-forked
pytest-htmllist
pytest-idcf
pytest-inequalities
pytest-leaks
pytest-openfiles
pytest-remotedata
pytest-sugar
pytest-tornasync
python
python-apt
python-chess
python-dateutil
python-jsonrpc-server
python-language-server
python-libarchive-c
python-slugify
pytz
pywin32
pywin32-ctypes==0.2.0
pywinpty==0.5.11
PyYAML
pyzmq
QDarkStyle
QtAwesome
qtconsole
QtPy
queuelib==1.7.1
Quinn
rasa
readme-renderer
regex
requests
requests-oauthlib
responses
retrying==1.3.3
rope
rsa
s3transfer
sabyenc
sacremoses==0.0.46
safe
sanic==21.9.2
scikit-image
scikit-learn
scipy
seaborn
SecretStorage
secp256k1_py
Send2Trash
setuptools
sgmllib3k
Shapely
shell
SimpleITK
simplejson
singledispatch==3.7.0
sip==4.24.0
six
smmap==4.0.0
smtplib
sniffio
snowballstemmer
sortedcollections
sortedcontainers
soundfile
soupsieve==2.3
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
spyder
spyder-kernels
SQLAlchemy
sqlparse
statsmodels
sympy
tangled-up-in-unicode
tblib
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.8.0
tensorflow-estimator==2.8.0
termcolor
terminado
testpath
text-unidecode
textdistance
texttable
threadpoolctl
three-merge
thinc==8.3.1
tifffile
tiktorch
toml
toolz
tornado
tqdm
traitlets
transformers==4.11.3
treq==21.5.0
trio
typed-ast
typing
typing-extensions
ujson
unicodecsv
urllib3
uvicorn
uvloop
validators
wand
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
wheel
whoosh
widgetsnbextension
wrapt
wurlitzer
xarray
xgboost
xgboostgpu==1.6.0
xkit==0.0.0
xlrd
xmltodict
xvfbwrapper
yapf
yarl
yellowbrick
zict
zipp
zmq
zope
zope.event
zope.interface
zstd==1.4.12
